<a href="https://colab.research.google.com/github/jingyue-nancy-gao/Summer-Microcredential/blob/main/Basics_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to python part II
## Data Structures

## Lists

In [13]:
listEmpty =[]

# In this line, I am defining an empty list.
# To define a list, I created a variable name such as 'listEmpty' and then I assigned an empty set of squared brackets.
# By assign I mean to simply use a single equal sign.

In [14]:
type(listEmpty)

# In this line, I am checking the type of the 'listEmpty'
# To check the type, I used function type()

list

In [4]:
my_list = ["Hello", 100, 23.47]

# In this line, I am defining an list.
# To define a list, I created a variable name such as 'my_list' and then I assigned set "Hello", 100, 23.47 to it.
# By assign I mean to simply use a single equal sign.

In [5]:
print(my_list)

# In this line, I am printing out the values of list variable 'my_list'
# To print it out, I used function print()

['Hello', 100, 23.47]

In [6]:
type(my_list)

# In this line, I am checking the type of the 'my_list'
# To check the type of the 'listEmpty', I used function type()

list

In [8]:
second_list = ["one", "two", "three"]

# In this line, I am defining an list.
# To define a list, I created a variable name such as 'second_list' and then I assigned set "one", "two", "three" to it.
# By assign I mean to simply use a single equal sign.

In [9]:
print (my_list, second_list)

# In this line, I am printing out the values of list variable 'my_list' and 'second_list'
# To print it out, I used function print()

['Hello', 100, 23.47] ['one', 'two', 'three']

###1) Concatenation

In [10]:
new_list = my_list + second_list

# In this line, I am defining a list.
# To define a list, I created a variable name such as 'new_list' and then I assigned a set of "my_list" and set of "second_list" to it.
# By assign I mean to simply use a single equal sign.

In [11]:
type(new_list)

# In this line, I am checking the type of the 'new_list'
# To check the type, I used function type()

list

In [12]:
print(new_list)

# In this line, I am printing out the values of list variable 'new_list'
# To print it out, I used function print()

['Hello', 100, 23.47, 'one', 'two', 'three']

### 2) Indexing in list

In [15]:
students = ["Robert", "Chris", "Kataina", "Scarlett"]

# In this line, I am defining a list.
# To define a list, I created a variable name 'students' and then I assigned a set of "Robert", "Chris", "Kataina", "Scarlett" to it
# By assign I mean to simply use a single equal sign.

In [16]:
students

# In this line, I am checking out all the the values of list variable 'students'

['Robert', 'Chris', 'Kataina', 'Scarlett']

In [17]:
students[0]

# In this line, I am checking out the first value of list variable 'students'
# To check the first value of the list, I used students[0].

'Robert'

In [18]:
string1 = "this is a sting"

# In this line, I am defining a string.
# To define a string, I created a variable name 'string1' and then I assigned "this is a sting" to it.
# By assign I mean to simply use a single equal sign.

In [19]:
string1

# In this line, I am checking out the values of string1

'this is a sting'

In [21]:
string1[2]

# In this line, I am checking out the third char value of string variable 'string1'
# To check the third value of the list, I used string1[2].

'i'

###3)Editing the list's

In [23]:
students

# In this line, I am checking out all the the values of list variable 'students'

['Robert', 'Chris', 'Kataina', 'Scarlett']

In [25]:
# Replace values
students[0] = "Sam"

# In this line, I am replacing values of the first element in list variable 'students'
# To replace values, I assigned "Sam" to the first element in list variable 'students'
# By assign I mean to simply use a single equal sign.

In [26]:
students

# In this line, I am checking out all the the values of list variable 'students'

['Sam', 'Chris', 'Kataina', 'Scarlett']

In [28]:
# Add values
students.append ("Paul")
students

# In this line, I am adding values to the list variable 'students'
# To add values, I used function .append() and added "Paul" to the last element in list variable 'students'

# Then, I am checking out all the the values of list variable 'students'

['Sam', 'Chris', 'Kataina', 'Scarlett', 'Paul']

In [29]:
students.remove("Scarlett")

# In this line, I am moving values to the list variable 'students'
# To move values, I used function .remove() and targeted "Scarlett" to remove in list variable 'students'

# Then, I am checking out all the the values of list variable 'students'

In [30]:
students

# In this line, I am checking out all the the values of list variable 'students'

['Sam', 'Chris', 'Kataina', 'Paul']

In [32]:
list1 = ["one", "two", "three", "four", "five"]

# In this line, I am defining a list.
# To define a list, I created a variable name 'list1' and then I assigned a set of "one", "two", "three", "four", "five" to it
# By assign I mean to simply use a single equal sign.

In [34]:
list1.pop(2)

# In this line, I am popping values from the list variable 'list1'
# To pop values, I used function .pop() and targeted the third element to pop from list variable 'list1'

'three'

In [35]:
list1

# In this line, I am checking out all the the values of list variable 'list1'

['one', 'two', 'four', 'five']

### 4) Add list into list

In [36]:
color = ["Red", "Green", "Blue", "violet"]

In [37]:
color

['Red', 'Green', 'Blue', 'violet']

In [38]:
age = [21, 23, 25, 27]

In [39]:
age

[21, 23, 25, 27]

In [40]:
color.extend(age)

In [41]:
color

['Red', 'Green', 'Blue', 'violet', 21, 23, 25, 27]

## 5)Python in-build functions with the list's

In [42]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [43]:
numbers = even + odd

In [44]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [45]:
print(sorted (numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
len(numbers)

9

In [47]:
max(numbers)

9

In [48]:
min(numbers)

1

#### 1)concatenation
#### 2)Indexing in list
#### 3)Editing the list
#### 4)Add list into list
#### 5)Python in-build functions with the list's

Dictionaries

In [1]:
my_dict = {"key1":"value1", "key2":"value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [2]:
my_dict["key1"]

'value1'

In [8]:
fruits = {"Apple":3, "Banana":1.75, "Cherry":2}
fruits
fruits["Apple"]

3

# 2) Dictionaries with all data type's

In [11]:
new_dict = {"k1":147, "k2": [15,25,35], "k3": {"Apple":3}}

In [12]:
new_dict

{'k1': 147, 'k2': [15, 25, 35], 'k3': {'Apple': 3}}

In [13]:
new_dict["k2"]

[15, 25, 35]

In [14]:
new_dict["k2"][1]

25

In [16]:
new_dict["k3"]

{'Apple': 3}

In [17]:
new_dict["k3"]["Apple"]

3

In [18]:
d = {"students": [ "a", "b","c","d"]}

In [19]:
d

{'students': ['a', 'b', 'c', 'd']}

In [21]:
d["students"][1]

'b'

In [23]:
d["students"][-1].upper()

'D'

#3) Add value

In [25]:
d = {"k1":100, "k2":200}

In [26]:
d['k1']

100

In [27]:
d['k3']=300

In [29]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

# 4) Replace value

In [30]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [32]:
d['k1']="New value"

In [33]:
d

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [34]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [36]:
d.values()

dict_values(['New value', 200, 300])

In [37]:
d.items()

dict_items([('k1', 'New value'), ('k2', 200), ('k3', 300)])

In [ ]:
# 1)Define a Dictionary
# 2)

## Tuples

In [39]:
prime_number = (2,3,5,7,11)
type(prime_number)

tuple

In [54]:
perfect_squares = [1,4,9,16,25,36,49,64,81,100,121]
type(perfect_squares)

list

In [42]:
len(prime_number)

5

In [43]:
len(perfect_squares)

6

In [59]:
my_tuple = ("Hieee", 100, 100, 12.47)
my_tuple

('Hieee', 100, 100, 12.47)

## Indexing in Tuple's

In [49]:
my_tuple[0]

'Hieee'

In [50]:
my_tuple[1]

100

In [52]:
my_tuple[0:2]

('Hieee', 100)

In [55]:
perfect_squares[2:5]

[9, 16, 25]

In [57]:
my_tuple.count(100)

1

In [60]:
my_tuple[3]

12.47

In [61]:
# Define a Tuple
# Indexing in Tuple's
# Defference between the List and Tuple

Sets

In [62]:
my_set = set()

In [66]:
my_list = [1, 1, 1, 2, 2, 2, 3, "Apple", "Apple"]

In [67]:
set(my_list)

{1, 2, 3, 'Apple'}

In [68]:
my_set

set()

In [69]:
my_set.add(22)

In [70]:
my_set.add(23)

In [71]:
my_set

{22, 23}

## Strings ...Part II