<a href="https://colab.research.google.com/github/jingyue-nancy-gao/Summer-Microcredential/blob/main/Basic_Part_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to python part III
## Conditionals & Loops!!

## Conditionals

### IF...ELIF...ELSE Statements !!!

In [ ]:
"""
if (consition):
  do something
"""

In [1]:
if 3 > 2:
  print("Right")

# In this line, I am using a condition function.
# To use a condition function, I used the structure that [if (consition):  do something]
# By conditioning it, I mean to get its bool value.
# If 3 is greater than 2is [True], then print out "Right"

Right

In [ ]:
if 3 > 2:
  print("Right")

In [2]:
if 4 > 7:
  print("Right")
else:
  print("Wrong")

# In this line, I am using a condition function.
# To use a condition function, I used the structure that [if (consition):  do something][else: do something]]
# By conditioning it, I mean to get its bool value.
# If 4 is greater than 7 is [True], then print out "Right"
# If 4 is greater than 7 is NOT [True], then print out "Wrong"

Wrong

In [3]:
a = 3
b = 5

if a > b:
  print("Yes, it's right !!!")
else:
  print("Try again !!!")

# In this line, I am using a condition function.
# To use a condition function, I used the structure that [if (consition):  do something][else: do something]]
# By conditioning it, I mean to get its bool value.
# If a is greater than b is [True], then print out "Yes, it's right !!!"
# If a is greater than b is NOT [True], then print out "Try again !!!"

Try again !!!

In [4]:
drink = "Tea"

if drink == "Coffee":
  print("Humanity runs on Coffee")
else:
  print("Where there is a Tea, There is a hope !!!")

Where there is a Tea, There is a hope !!!

In [5]:
drink = "Coke"

if drink == "Coffee":
  print("Humanity runs on Coffee")
elif drink == "Water":
  print("Water is the soul of Warth !!!")
elif drink == "Coke":
  print("Coke is the new fuel for the Programmer !!!")
else:
  print("Where there is a Tea, There is a hope !!!")

Coke is the new fuel for the Programmer !!!

## Loops !!

### For .. Loop

In [29]:
"""
for interator in array:
  do something
"""

'\nfor interator in array:\n  do something\n'

In [30]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for num in my_list:
  print(num)

# In this line, I am using a for loop
# To use a for loop, I used the structure that [for interator in array:  do something]
# interator     ->  num
# array         ->  my_list
# do something  ->  print the interator

1
2
3
4
5
6
7
8
9
10

In [32]:
for i in my_list:
  if i % 2 == 0:
    print(i)

# In this line, I am using a for loop
# To use a for loop, I used the structure that [for interator in array:  do something]
# interator     ->  i
# array         ->  my_list
# do something  ->  a condition function

  # In this line, I am using a condition function.
  # To use a condition function, I used the structure that [if (consition):  do something]
  # By conditioning it, I mean to get its bool value.
  # If [i divided by 2 is equal to 0] is [True], then print out the value of i

2
4
6
8
10

In [33]:
for i in my_list:
  if i % 2 != 0:
    print(i)

# In this line, I am using a for loop
# To use a for loop, I used the structure that [for interator in array:  do something]
# interator     ->  i
# array         ->  my_list
# do something  ->  a condition function

  # In this line, I am using a condition function.
  # To use a condition function, I used the structure that [if (consition):  do something]
  # By conditioning it, I mean to get its bool value.
  # If [i divided by 2 is equal to 0] is [False], then print out the value of i

1
3
5
7
9

In [34]:
my_list = [1, 2, 3, 4, 5]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num

print(list_sum)

15

In [35]:
my_string = "Hello World"

for letter in my_string:
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [36]:
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)

4

In [37]:
for tup in my_list:
  print (tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [38]:
for a,b in my_list:
  print(a,b)

1 2
3 4
5 6
7 8

In [39]:
for a,b in my_list:
  print(a)

1
3
5
7

In [40]:
my_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [41]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [42]:
my_dict = {"k1":1, "k2":2, "k3": 3}

In [43]:
for i in my_dict:
  print(i)

k1
k2
k3

In [44]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [45]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [46]:
# How to define a for loop
# For loop with
# List
# String
# Tuple
# Dictionary

## While Loops

In [24]:
i = 0

while i < 5:
  print (i)
  i = i + 1

0
1
2
3
4

In [25]:
i = 0

while i < 5:
  print (i)
  i = i + 1
else:
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [26]:
i = 10

while i < 5:
  print (i)
  i = i + 1
else:
  print("i is not less than 5")

i is not less than 5

### Pass, Break, and Continue

In [28]:
l = [1, 2, 3, 4, 5]

for item in l:
  # Coment
  pass
print("I will work after !!!")

I will work after !!!

In [49]:
my_string = "Hello World"

for letter in my_string:
  if letter == "r":
    break
  print(letter)

H
e
l
l
o

W
o

In [50]:
my_string = "Hello World"

for letter in my_string:
  if letter == "e":
    continue
  print(letter)

H
l
l
o

W
o
r
l
d

In [51]:
i = 0

while i < 5:
  if i == 3:
    break
  print (i)
  i = i + 1

0
1
2

## Most Used Built-in Function in Python

### 1) Range function

In [52]:
for num in range(10):
  print (num)

0
1
2
3
4
5
6
7
8
9

In [53]:
for num in range(3, 10):
  print (num)

3
4
5
6
7
8
9

In [54]:
for num in range(0,11,2):
  print (num)

0
2
4
6
8
10

In [55]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
range (10)
list(range(10))
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate
* it gives back us an index count and object itself

In [56]:
word = "Batman"

for items in word:
  print(items)

B
a
t
m
a
n

In [58]:
for items in enumerate(word):
  print (items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [59]:
for a, b in enumerate(word):
  print(a,b)

0 B
1 a
2 t
3 m
4 a
5 n

In [60]:
for a, b in enumerate(word):
  print(a)
  print(b)
  print("\n")

0
B


1
a


2
t


3
m


4
a


5
n

### 3) Zip

In [61]:
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c", "d", "e"]
list3 = ["a", "b", "d"]

In [62]:
list4 = zip(list1, list2)

In [63]:
print(list4)

<zip object at 0x7f03577b0780>

In [66]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [67]:
for a,b in zip(list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [68]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'd')

In [71]:
for a,b,c in zip(list1, list2, list3):
  print(b)

a
b
c